<% provide(:title, "About") %>
<h1>About</h1>
<p>
Thank you for visiting the first protoype of Emodelun.com! The goal of this 
website is to digitalize all Model United Nations communications in a committee
and Change Model UN for good. 
If you have any questions or comments, please email 
rs2bd@virginia.edu. We appreciate your help!
</p>
