<% provide(:title, 'All users') %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
  </aside>

  <div class="col-md-9">
    <h4>Official Regions of Peloponnesian War - Sicilian Theatre Map</h4>
    <img width="700" height="500" src="https://docs.google.com/drawings/d/1QF_DoqbGpddtVHkCH9XwDLi7rZE3xp9UU5M7VeFZx2o/pub?w=960&amp;h=720">
    <br>
    <h4>Official Regions of Peloponnesian War - Aegean Theatre Map</h4>
    <img width="850" height="600" src="https://docs.google.com/drawings/d/15kNEw63pTlnWlt4B5zjHgB_L2_FRZADndrc7FKvoIxM/pub?w=960&amp;h=720">
    <br>
    <h4>Map Keys</h4>
    <img width= "600" height= "500" src="https://docs.google.com/drawings/d/1WGbqx-rv0G_JAoDY-GPdb5oxZd20-9s2bVtTQQSeoBQ/pub?w=480&amp;h=360">

  </div>

</div>

